{% extends "base.html" %}

{% block content %}

<h1>{{shoe.brand}} {{shoe.name}}</h1>
<h2>Fast Facts</h2>
<table class="table">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Release Year</th>
        <td>{{shoe.release_year}}</td>
      </tr>
      <tr>
        <th scope="row">Foam</th>
        <td>{{shoe.foam}}</td>
      </tr>
      <tr>
        <th scope="row">Weight (oz)</th>
        <td>{{shoe.weight_ounces}}</td>
      </tr>
      <tr>
        <th scope="row">Heel Stack (mm)</th>
        <td>{{shoe.heel_stack_mm}}</td>
      </tr>
      <tr>
        <th scope="row">Forefoot Stack (mm)</th>
        <td>{{shoe.forefoot_stack_mm}}</td>
      </tr>
      <tr>
        <th scope="row">Heel-Toe Drop (mm)</th>
        <td>{{shoe.drop_mm}}</td>
      </tr>
      <tr>
        <th scope="row">Sport</th>
        <td>{{shoe.sport}}</td>
      </tr>
      <tr>
        <th scope="row">Primary Usage</th>
        <td>{{shoe.usage}}</td>
      </tr>
      <tr>
        <th scope="row">Stability</th>
        <td>{{shoe.stability}}</td>
      </tr>
    </tbody>
  </table>
<h2>{{shoe.colorway_set.count}} colorways available:</h2>
<ul>
{% for color in shoe.colorway_set.all %}
    <li>{{color.name}}</li>
{% endfor %}
</ul>

{% endblock %}